@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Philosopher|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');
$fontColor:#3f4253;
$aColor:#0053a9;
$aColorHover:#32759c;

body {
    background-color: #f2f2f2;
    background-image: url("../img/bg.svg");
    min-width: max-content;
    background-attachment: fixed;
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;

    .rows {
        display: flex;
        justify-content: center;
        align-items: center;
        
        // right side form
        .form {
            background: white;
            font-family: 'Raleway';
            transition: 500ms ease;

            // register
            nav {
                overflow: auto;
                font-size: .9rem;
                color: $fontColor;

                a {
                    color: $aColor;

                    &:hover {
                        color: $aColorHover;
                        text-decoration: none;
                    }
                }
            }

            //form header
            .header {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                h3 {
                    font-size: 1.9rem;
                    color: #fe494c;
                    font-family: 'Merienda One', cursive;
                }
            }

            // social links
            .social {
                a {
                    color: $fontColor;
                    padding: 8px 4px;
                    background: #e7e7e7;
                    box-shadow: 0 0 3px #adadad;
                    transition: 500ms ease;
                    margin: 5px 10px;
                    font-weight: 300;

                    i {
                        padding: 0 8px;
                    }

                    span {
                        padding: 0 10px;
                    }
                }

                .social-active {
                    color: white !important;
                    background: #178ce9;
                }

                .or span {
                    color: $fontColor;

                    &::after {
                        content: "";
                        position: absolute;
                        background: #3f425338;
                        width: 10%;
                        height: 1px;
                        top: 50%;
                        right: 35%;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        background: #3f425338;
                        width: 10%;
                        height: 1px;
                        top: 50%;
                        left: 35%;
                    }
                }
            }

            //form
            .body {
                .form-group {

                    .form-control {
                        border: 0;
                        background: #f2f2f2;
                    }
                    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
                        background-color: #fe494c;
                    }
                    .btn-primary {
                        border: 0;
                        font-weight: 800;
                        background: #fe494c;
                        transition: 500ms ease;

                        &:hover {
                            transform: scale(0.9);
                        }
                    }
                }

                .section {
                    display: none;
                }

                .show {
                    display: block;
                }

                .arrows {
                    .arrow {
                        cursor: pointer;

                        i {
                            background: #e7e7e7;
                            box-shadow: 0 0 5px #80808085;
                            padding: .5rem .8rem;
                            font-size: 1.4rem;
                            border-radius: 50px;
                            transition: 500ms ease;
                            &:hover{
                                color: white;
                                background: #fe494c;
                            }
                        }
                    }
                }
            }
        }

        //left side
        .left-side {
            height: 100%;
            font-family: 'Righteous';

            .header {
                h1 {
                    font-size: 2rem;
                    color: white;
                }
            }
        }
    }
}
