@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Philosopher|Righteous&display=swap');
$fontColor:#3f4253;
$aColor:#0053a9;
$aColorHover:#32759c;

body {
    background-color: #f2f2f2;
    background-image: url("../img/bg.svg");
    background-attachment: fixed;
}

.contain {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .rows {
        background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        box-shadow: 0 0 20px #80808057;
        border-radius: 10px;
        max-width: 1115px;

        // right side form
        .form {
            background: white;
            border-radius: 10px;
            font-family: 'Raleway';
            transition: 500ms ease;

            // register
            nav {
                overflow: auto;
                font-size: .9rem;
                color: $fontColor;

                a {
                    color: $aColor;

                    &:hover {
                        color: $aColorHover;
                        text-decoration: none;
                    }
                }
            }

            //form header
            .header {
                h3 {
                    font-size: 1.9rem;
                    color: $fontColor;
                }
            }

            // social links
            .social {
                a {
                    color: $fontColor;
                    padding: 8px 4px;
                    background: #e7e7e7;
                    box-shadow: 0 0 3px #adadad;
                    transition: 500ms ease;
                    margin: 5px 10px;
                    font-weight: 300;

                    i {
                        padding: 0 8px;
                    }

                    span {
                        padding: 0 10px;
                    }
                }

                .social-active {
                    color: white !important;
                    background: #178ce9;
                }

                .or span {
                    color: $fontColor;

                    &::after {
                        content: "";
                        position: absolute;
                        background: #3f425338;
                        width: 10%;
                        height: 1px;
                        top: 50%;
                        right: 35%;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        background: #3f425338;
                        width: 10%;
                        height: 1px;
                        top: 50%;
                        left: 35%;
                    }
                }
            }

            //form
            .body {
                .form-group {
                    .form-control {
                        border: 0;
                        box-shadow: 0 0 3px #c2c2c2;
                        background: #f7f7f7;
                    }

                    .btn-primary {
                        border: 0;
                        font-weight: 800;
                        // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
                        transition: 500ms ease;
                        &:hover{
                            transform: scale(0.9);
                        }
                    }
                }

                .section {
                    display: none;
                }

                .show {
                    display: block;
                }

                .arrows {
                    .arrow {
                        cursor: pointer;

                        i {
                            background: #e7e7e7;
                            box-shadow: 0 0 5px #80808085;
                            padding: .5rem .8rem;
                            font-size: 1.4rem;
                            border-radius: 50px;
                        }
                    }
                }
            }
        }

        //left side
        .left-side {
            height: 100%;
            font-family: 'Righteous';

            .header {
                h1 {
                    font-size: 2rem;
                    color: white;
                }
            }
        }
    }
}
