@import url("https://fonts.googleapis.com/css?family=Raleway|Righteous|Roboto&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  background-image: url("../img/bg.svg");
  background-attachment: fixed;
  font-family: 'Raleway', cursive;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fe494c;
}

.loading span {
  font-family: 'Righteous', monospace;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: 700;
}

.loading .looping-rhombuses-spinner,
.loading .looping-rhombuses-spinner * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loading .looping-rhombuses-spinner {
  width: calc(15px * 4);
  height: 15px;
  position: relative;
}

.loading .looping-rhombuses-spinner .rhombus {
  height: 15px;
  width: 15px;
  background-color: white;
  left: calc(15px * 4);
  position: absolute;
  margin: 0 auto;
  border-radius: 2px;
  -webkit-transform: translateY(0) rotate(45deg) scale(0);
          transform: translateY(0) rotate(45deg) scale(0);
  -webkit-animation: looping-rhombuses-spinner-animation 2500ms linear infinite;
          animation: looping-rhombuses-spinner-animation 2500ms linear infinite;
}

.loading .looping-rhombuses-spinner .rhombus:nth-child(1) {
  -webkit-animation-delay: calc(2500ms * 1 / -1.5);
          animation-delay: calc(2500ms * 1 / -1.5);
}

.loading .looping-rhombuses-spinner .rhombus:nth-child(2) {
  -webkit-animation-delay: calc(2500ms * 2 / -1.5);
          animation-delay: calc(2500ms * 2 / -1.5);
}

.loading .looping-rhombuses-spinner .rhombus:nth-child(3) {
  -webkit-animation-delay: calc(2500ms * 3 / -1.5);
          animation-delay: calc(2500ms * 3 / -1.5);
}

@-webkit-keyframes looping-rhombuses-spinner-animation {
  0% {
    -webkit-transform: translateX(0) rotate(45deg) scale(0);
            transform: translateX(0) rotate(45deg) scale(0);
  }
  50% {
    -webkit-transform: translateX(-233%) rotate(45deg) scale(1);
            transform: translateX(-233%) rotate(45deg) scale(1);
  }
  100% {
    -webkit-transform: translateX(-466%) rotate(45deg) scale(0);
            transform: translateX(-466%) rotate(45deg) scale(0);
  }
}

@keyframes looping-rhombuses-spinner-animation {
  0% {
    -webkit-transform: translateX(0) rotate(45deg) scale(0);
            transform: translateX(0) rotate(45deg) scale(0);
  }
  50% {
    -webkit-transform: translateX(-233%) rotate(45deg) scale(1);
            transform: translateX(-233%) rotate(45deg) scale(1);
  }
  100% {
    -webkit-transform: translateX(-466%) rotate(45deg) scale(0);
            transform: translateX(-466%) rotate(45deg) scale(0);
  }
}

.navbar {
  background: transparent;
  color: #ffffff;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
}

.navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  font-family: 'Righteous', cursive;
}

.navbar .navbar-brand:hover {
  color: inherit !important;
}

.navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .navbar-nav .nav-item {
  margin: 0 .3rem;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  position: relative;
}

.navbar .navbar-nav .nav-item .search {
  display: table;
}

.navbar .navbar-nav .nav-item .search input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  line-height: 18px;
  margin: 5px 0;
  font-size: 14px;
  -webkit-appearance: none;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  cursor: pointer;
  color: white;
}

.navbar .navbar-nav .nav-item .search input + div {
  position: relative;
  height: 28px;
  width: 100%;
  margin: -28px 0 0 0;
}

.navbar .navbar-nav .nav-item .search input + div svg {
  display: block;
  position: absolute;
  height: 25px;
  width: 160px;
  right: -7px;
  top: 1px;
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.navbar .navbar-nav .nav-item .search input:not(:placeholder-shown), .navbar .navbar-nav .nav-item .search input:focus {
  width: 170px;
  padding: 1px 4px;
  cursor: text;
}

.navbar .navbar-nav .nav-item .search input:not(:placeholder-shown) + div svg, .navbar .navbar-nav .nav-item .search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 4px 8px;
  position: relative;
  z-index: 10;
  font-weight: 800;
}

.navbar .navbar-nav .nav-item .nav-link .num {
  position: absolute;
  bottom: 5px;
  right: 0;
  background: #fe494c;
  color: white;
  font-size: 10px;
  padding: 1px 5px;
  border-radius: 15px;
}

.navbar .navbar-nav .nav-item:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 0%;
  height: 32px;
  background: #fe494c;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px #fe494c;
          box-shadow: 0 0 5px #fe494c;
  -webkit-clip-path: circle(18.9% at 17% 100%);
          clip-path: circle(18.9% at 17% 100%);
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
  -webkit-clip-path: circle(71.5% at 50% 51%);
          clip-path: circle(71.5% at 50% 51%);
}

.navbar .navbar-nav .nav-item:hover a {
  color: white;
}

.navbar .navbar-nav .register-btn {
  padding: .1rem .9rem !important;
  background: #fe494c !important;
  color: white !important;
  border-radius: 4px !important;
}

.navbar .navbar-nav .cart {
  font-size: 1.1rem;
}

.nav-top {
  background: white !important;
  color: #212121 !important;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

.carousel {
  max-height: 600px;
  overflow: hidden;
}

.carousel .top {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fe494ca6;
  z-index: 1;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .top div {
  font-size: calc(3vw + 1rem);
}

.section .header {
  font-size: calc(1vw + 10px);
  font-weight: 900;
}

.section .body {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .body .card-div {
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  background: white;
  position: relative;
  margin: 5px;
}

.section .body .card-div:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.section .body .card-div .more {
  position: absolute;
  padding: .2rem .5rem;
  top: 5px;
  font-size: 1rem;
  color: #0a0a1a;
  opacity: 0;
  right: -10px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.section .body .card-div .more i:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  color: #fe494c;
}

.section .body .card-div:hover .more {
  opacity: 1;
  right: 5px;
}

.section .body .card-div img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section .body .card-div .title {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.our-collections .collection .title span {
  background: #fe494c;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  color: white;
}

.recommend-div .recommended .recommend {
  background: transparent;
}

.recommend-div .recommended .recommend:hover .body {
  color: #fe494c;
}

.added-div .just-added .added span.new {
  border-radius: 3px;
  background: #fe494c;
  color: white;
  font-weight: 600;
  font-size: small;
  padding: 4px 12px;
  position: absolute;
  top: 10px;
  left: -4px;
}

.added-div .just-added .added span.new::after {
  content: '';
  position: absolute;
  background: #2e353d00;
  left: 0px;
  bottom: -8px;
  z-index: -1;
  border-left: solid 25px #fe494c;
  border-bottom: solid 25px #fe494c00;
  border-radius: 10px;
}

.cart-div .no-cart {
  background: white;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-div .no-cart .text h3 {
  color: #fe494c;
  font-size: 1.5rem;
  font-weight: 600;
}

.collection-div .header {
  padding: 1rem;
  font-size: calc(1vw + 20px);
  font-weight: 900;
}

.collection-div .not-found {
  background: white;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection-div .not-found .text h3 {
  color: #fe494c;
  font-size: 1.5rem;
  font-weight: 600;
}

.collection-div .collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection-div .collections .collection {
  margin: .3rem;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  background: white;
  position: relative;
}

.collection-div .collections .collection:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.product-div {
  padding: 1rem .5rem;
}

.product-div .product-img,
.product-div .product-info,
.product-div .product-reviews,
.product-div .product-similar {
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px #e6e6e6;
          box-shadow: 0 0 5px #e6e6e6;
}

.product-div .product-img {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: .5rem;
}

.product-div .product-img img {
  max-height: 330px;
}

.product-div .product-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #222B3A;
}

.product-div .product-info .info .product-title {
  font-size: calc(1vw + 15px);
}

.product-div .product-info .info .product-price {
  font-weight: 600;
  font-size: calc(1vw + 10px);
}

.product-div .product-info .info .product-des .header,
.product-div .product-info .info .product-type .header,
.product-div .product-info .info .product-tags .header {
  font-weight: 700;
  font-size: calc(0vw + 15px);
  padding: 2px;
}

.product-div .product-info .info .product-des .des {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-div .product-info .info .product-tags .tag {
  font-size: small;
  background: #fe494c;
  color: white;
  padding: .3rem .5rem;
  border-radius: 3px;
  margin: 3px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.product-div .product-info .info .product-tags .tag:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.product-div .product-info .info .product-tags .tag:hover a {
  color: white;
  text-decoration: none;
}

.product-div .product-info .info .add-to-cart {
  --color: #fff;
  --icon: var(--color);
  --cart: #fff;
  --dots: #fff;
  --background: $MainColor;
  --shadow: rgba(0, 9, 61, 0.16);
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  border-radius: 22px;
  padding: 12px 32px;
  font-weight: 500;
  line-height: 20px;
  -webkit-transform: scale(var(--s, 0.97));
          transform: scale(var(--s, 0.97));
  -webkit-box-shadow: 0 var(--s-y, 4px) var(--s-b, 12px) var(--shadow);
          box-shadow: 0 var(--s-y, 4px) var(--s-b, 12px) var(--shadow);
  color: var(--color);
  background: var(--background);
  -webkit-transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: transform .3s, box-shadow .3s;
  transition: transform .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
}

.product-div .product-info .info .add-to-cart .default {
  padding-left: 16px;
  position: relative;
  opacity: var(--o, 1);
  -webkit-transform: scale(var(--s, 1));
          transform: scale(var(--s, 1));
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
  -webkit-transition-delay: var(--d, 0.3s);
          transition-delay: var(--d, 0.3s);
}

.product-div .product-info .info .add-to-cart .default:before, .product-div .product-info .info .add-to-cart .default:after {
  content: '';
  width: 2px;
  height: 12px;
  left: 0;
  top: 4px;
  border-radius: 1px;
  background: var(--icon);
  position: absolute;
  -webkit-transform: rotate(var(--r, 0deg));
          transform: rotate(var(--r, 0deg));
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.product-div .product-info .info .add-to-cart .default:after {
  --r: 90deg;
}

.product-div .product-info .info .add-to-cart .success {
  opacity: var(--o, 0);
  -webkit-transform: translate(-50%, var(--y, 12px));
          transform: translate(-50%, var(--y, 12px));
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transition-delay: var(--d, 0s);
          transition-delay: var(--d, 0s);
}

.product-div .product-info .info .add-to-cart .dots {
  width: 4px;
  height: 4px;
  top: 20px;
  left: 50%;
  margin-left: -7px;
  border-radius: 2px;
  position: absolute;
  -webkit-transform-origin: 10px 50%;
          transform-origin: 10px 50%;
  background: var(--dots);
  -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
          box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  opacity: var(--o, 0);
  -webkit-transform: scale(var(--s, 0.4));
          transform: scale(var(--s, 0.4));
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transition-delay: var(--d, 0s);
          transition-delay: var(--d, 0s);
}

.product-div .product-info .info .add-to-cart .cart {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: inherit;
  overflow: hidden;
}

.product-div .product-info .info .add-to-cart .cart:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 16px;
  background: var(--background);
  top: 17px;
  right: 100%;
  z-index: 1;
  margin-right: -20px;
  -webkit-transform: translateX(-18px) rotate(-16deg);
          transform: translateX(-18px) rotate(-16deg);
}

.product-div .product-info .info .add-to-cart .cart > div {
  top: 13px;
  right: 100%;
  -webkit-transform: translateX(-18px) rotate(-16deg);
          transform: translateX(-18px) rotate(-16deg);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: 1px 21px;
          transform-origin: 1px 21px;
}

.product-div .product-info .info .add-to-cart .cart > div:before, .product-div .product-info .info .add-to-cart .cart > div:after {
  content: '';
  position: absolute;
  top: var(--t, 4px);
  left: var(--l, 0);
  height: 2px;
  width: var(--w, 18px);
  background: var(--cart);
  border-radius: 1px;
}

.product-div .product-info .info .add-to-cart .cart > div:after {
  --w: 16px;
  --t: 14px;
  --l: 1px;
}

.product-div .product-info .info .add-to-cart .cart > div > div {
  width: 2px;
  height: var(--h, 15px);
  border-radius: 1px;
  -webkit-transform: rotate(var(--r, -8deg));
          transform: rotate(var(--r, -8deg));
  background: var(--cart);
  position: relative;
}

.product-div .product-info .info .add-to-cart .cart > div > div:before, .product-div .product-info .info .add-to-cart .cart > div > div:after {
  content: '';
  position: absolute;
  background: inherit;
}

.product-div .product-info .info .add-to-cart .cart > div > div:after {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  bottom: var(--b, -6px);
  left: var(--l, 0);
}

.product-div .product-info .info .add-to-cart .cart > div > div:first-child:before {
  border-radius: inherit;
  top: 0;
  right: 0;
  height: 2px;
  width: 6px;
  -webkit-transform-origin: 5px 1px;
          transform-origin: 5px 1px;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}

.product-div .product-info .info .add-to-cart .cart > div > div:last-child {
  --h: 12px;
  --r: 8deg;
  position: absolute;
  left: 16px;
  bottom: -1px;
}

.product-div .product-info .info .add-to-cart .cart > div > div:last-child:after {
  --l: -2px;
  --b: -5px;
}

.product-div .product-info .info .add-to-cart.added .default {
  --o: 0;
  --s: .8;
  --d: 0s;
}

.product-div .product-info .info .add-to-cart.added .default:before {
  --r: -180deg;
}

.product-div .product-info .info .add-to-cart.added .default:after {
  --r: -90deg;
}

.product-div .product-info .info .add-to-cart.added .dots {
  --o: 1;
  --s: 1;
  --d: .3s;
  -webkit-animation: dots 2s linear forwards;
          animation: dots 2s linear forwards;
}

.product-div .product-info .info .add-to-cart.added .success {
  --o: 1;
  --y: 0;
  --d: 1.8s;
}

.product-div .product-info .info .add-to-cart.added .cart:before,
.product-div .product-info .info .add-to-cart.added .cart > div {
  -webkit-animation: cart 2s forwards;
          animation: cart 2s forwards;
}

.product-div .product-info .info .add-to-cart:not(.added):hover {
  --s: 1;
  --s-y: 8px;
  --s-b: 20px;
}

.product-div .product-info .info .add-to-cart:not(.added):active {
  --s: .94;
  --s-y: 2px;
  --s-b: 6px;
}

@-webkit-keyframes cart {
  41%,
  49%,
  57%,
  60% {
    -webkit-transform: translateX(72px) rotate(0deg);
            transform: translateX(72px) rotate(0deg);
  }
  40%,
  47%,
  54% {
    -webkit-transform: translateX(72px) rotate(0deg) translateY(1px);
            transform: translateX(72px) rotate(0deg) translateY(1px);
  }
  100% {
    -webkit-transform: translateX(180px) rotate(-16deg);
            transform: translateX(180px) rotate(-16deg);
  }
}

@keyframes cart {
  41%,
  49%,
  57%,
  60% {
    -webkit-transform: translateX(72px) rotate(0deg);
            transform: translateX(72px) rotate(0deg);
  }
  40%,
  47%,
  54% {
    -webkit-transform: translateX(72px) rotate(0deg) translateY(1px);
            transform: translateX(72px) rotate(0deg) translateY(1px);
  }
  100% {
    -webkit-transform: translateX(180px) rotate(-16deg);
            transform: translateX(180px) rotate(-16deg);
  }
}

@-webkit-keyframes dots {
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px) rotate(-32deg);
            transform: translateY(-20px) rotate(-32deg);
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    -webkit-box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
            box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32%,
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  45%,
  100% {
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes dots {
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px) rotate(-32deg);
            transform: translateY(-20px) rotate(-32deg);
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    -webkit-box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
            box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32%,
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  45%,
  100% {
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  51%,
  100% {
    opacity: 0;
  }
}

.product-div .product-reviews {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.product-div .product-reviews .heading {
  font-weight: 600;
  font-size: calc(1vw + 10px);
}

.product-div .product-reviews .heading .review .yours label {
  font-size: 2rem;
}

.product-div .product-reviews .heading .review .yours label:checked {
  color: yellow;
}

.product-div .product-reviews .heading .review .yours .total {
  font-weight: 700;
  font-size: calc(0vw + 15px);
  padding: 2px;
}

.product-div .product-reviews .heading .review .others .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  padding: .5rem;
  margin: .3rem;
  border: 0;
}

.product-div .product-reviews .heading .review .others .div .left .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-div .product-reviews .heading .review .others .div .left .rate label {
  margin: 0;
  font-size: smaller;
}

.product-div .product-reviews .heading .review .others .div .right span {
  font-size: smaller;
  font-weight: 600;
  padding: .5rem;
}

.product-div .product-reviews .heading .review .others .text-center {
  color: #585858;
  font-size: smaller;
}

.product-div .product-similar {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.product-div .product-similar .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
}

.product-div .product-similar .items li {
  margin: 2px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.product-div .product-similar .items li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.product-div .product-similar .items li .price {
  font-size: smaller;
  padding: 4px;
}

footer {
  background: #fe494c;
  color: white;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */