@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous|Roboto&display=swap');
$MainColor:#fe494c;

@mixin flex {
    display: flex;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    background-color: #f2f2f2;
    background-image: url("../img/bg.svg");
    background-attachment: fixed;
    font-family: 'Raleway', cursive;
}

// loading
.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $MainColor;

    span {
        font-family: 'Righteous', monospace;
        font-size: 1.7rem;
        margin-bottom: 1rem;
        color: white;
        font-weight: 700;
    }

    .looping-rhombuses-spinner,
    .looping-rhombuses-spinner * {
        box-sizing: border-box;
    }

    .looping-rhombuses-spinner {
        width: calc(15px * 4);
        height: 15px;
        position: relative;
    }

    .looping-rhombuses-spinner .rhombus {
        height: 15px;
        width: 15px;
        background-color: white;
        left: calc(15px * 4);
        position: absolute;
        margin: 0 auto;
        border-radius: 2px;
        transform: translateY(0) rotate(45deg) scale(0);
        animation: looping-rhombuses-spinner-animation 2500ms linear infinite;
    }

    .looping-rhombuses-spinner .rhombus:nth-child(1) {
        animation-delay: calc(2500ms * 1 / -1.5);
    }

    .looping-rhombuses-spinner .rhombus:nth-child(2) {
        animation-delay: calc(2500ms * 2 / -1.5);
    }

    .looping-rhombuses-spinner .rhombus:nth-child(3) {
        animation-delay: calc(2500ms * 3 / -1.5);
    }

    @keyframes looping-rhombuses-spinner-animation {
        0% {
            transform: translateX(0) rotate(45deg) scale(0);
        }

        50% {
            transform: translateX(-233%) rotate(45deg) scale(1);
        }

        100% {
            transform: translateX(-466%) rotate(45deg) scale(0);
        }
    }
}

// navbar
.navbar {
    font-family: 'Raleway', sans-serif;
    background: white;
    color: #222B3A;
    transition: 500ms ease;

    // brand icon
    .navbar-brand {
        display: flex;
        transition: 500ms ease;
        font-family: 'Righteous', cursive;

        &:hover {
            color: $MainColor;
            transform: translate(10px)
        }
    }

    // nav list
    .navbar-nav {
        display: flex;
        flex-direction: row;

        .nav-item {
            text-align: center;
            font-size: .9rem;
            margin: 0 .3rem;
            transition: 500ms ease;
            position: relative;

            // search icon
            .search {
                display: table;

                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 28px;
                    min-width: 0;
                    padding: 0;
                    z-index: 1;
                    position: relative;
                    line-height: 18px;
                    margin: 5px 0;
                    font-size: 14px;
                    -webkit-appearance: none;
                    transition: all .6s ease;
                    cursor: pointer;
                    color: $MainColor;

                    &+div {
                        position: relative;
                        height: 28px;
                        width: 100%;
                        margin: -28px 0 0 0;

                        svg {
                            display: block;
                            position: absolute;
                            height: 25px;
                            width: 160px;
                            right: -7px;
                            top: 1px;
                            fill: none;
                            stroke: $MainColor;
                            stroke-width: 1.5px;
                            stroke-dashoffset: 212.908 + 59;
                            stroke-dasharray: 59 212.908;
                            transition: all .6s ease;
                        }
                    }

                    &:not(:placeholder-shown),
                    &:focus {
                        width: 170px;
                        padding: 1px 4px;
                        cursor: text;

                        &+div {
                            svg {
                                stroke-dasharray: 150 212.908;
                                stroke-dashoffset: 300;
                            }
                        }
                    }
                }
            }

            .nav-link {
                padding: 4px 8px;

                .num {
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                    background: #fe494c;
                    color: white;
                    font-size: 10px;
                    padding: 1px 5px;
                    border-radius: 15px;
                }
            }


            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 5%;
                background: #fe494c;
                transition: 500ms ease;
            }

            &:hover::after {
                width: 100%;
            }

            &:hover {
                color: #fe494c;
            }
        }

        .cart {
            font-size: 1.1rem;
        }
    }
}

// home page
.carousel {
    max-height: 600px;
    overflow: hidden;

    .top {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fe494ca6;
        z-index: 1;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            font-size: calc(3vw + 1rem);
        }
    }
}

.section {
    .header {
        font-size: calc(1vw + 10px);
        font-weight: 900;
    }

    .body {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .card-div {
            transition: 500ms ease;
            background: white;
            position: relative;
            margin: 5px;

            &:hover {
                transform: scale(1.02);
            }

            .more {
                position: absolute;
                padding: .2rem .5rem;
                top: 5px;
                font-size: 1rem;
                color: #0a0a1a;
                opacity: 0;
                right: -10px;
                transition: 500ms ease;

                i:hover {
                    transform: scale(0.95);
                    color: #fe494c;
                }
            }

            &:hover .more {
                opacity: 1;
                right: 5px;
            }

            img {
                width: fit-content;
            }

            .title {
                width: 60%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

.our-collections {
    .collection {
        .title {
            span {
                background: $MainColor;
                padding: 0.2rem 0.5rem;
                border-radius: 3px;
                color: white;
            }
        }
    }
}

.recommend-div {
    .recommended .recommend {
        background: transparent;

        &:hover {
            .body {
                color: $MainColor
            }
        }
    }
}

.added-div {
    .just-added {
        .added {
            span.new {
                border-radius: 50px;
                background: #fe494c;
                color: white;
                font-weight: 600;
                font-size: small;
                padding: 4px 12px;
                height: min-content;
            }
        }
    }
}

// page footer
footer {
    background: $MainColor;
    color: white;

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
