@import url(https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap);@import url(https://fonts.googleapis.com/css?family=Philosopher|Righteous&display=swap);body {
  background-color: #f2f2f2;
  background-image: url(/images/bg.svg?4566046d561eeaffcefb70f1efbb6c15);
  background-attachment: fixed;
}

.contain {
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.contain .rows {
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  box-shadow: 0 0 20px #80808057;
  border-radius: 10px;
  max-width: 1115px;
}

.contain .rows .form {
  background: white;
  border-radius: 10px;
  font-family: "Raleway";
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.contain .rows .form nav {
  overflow: auto;
  font-size: 0.9rem;
  color: #3f4253;
}

.contain .rows .form nav a {
  color: #0053a9;
}

.contain .rows .form nav a:hover {
  color: #32759c;
  text-decoration: none;
}

.contain .rows .form .header h3 {
  font-size: 1.9rem;
  color: #3f4253;
}

.contain .rows .form .social a {
  color: #3f4253;
  padding: 8px 4px;
  background: #e7e7e7;
  box-shadow: 0 0 3px #adadad;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  margin: 5px 10px;
  font-weight: 300;
}

.contain .rows .form .social a i {
  padding: 0 8px;
}

.contain .rows .form .social a span {
  padding: 0 10px;
}

.contain .rows .form .social .social-active {
  color: white !important;
  background: #178ce9;
}

.contain .rows .form .social .or span {
  color: #3f4253;
}

.contain .rows .form .social .or span::after {
  content: "";
  position: absolute;
  background: #3f425338;
  width: 10%;
  height: 1px;
  top: 50%;
  right: 35%;
}

.contain .rows .form .social .or span::before {
  content: "";
  position: absolute;
  background: #3f425338;
  width: 10%;
  height: 1px;
  top: 50%;
  left: 35%;
}

.contain .rows .form .body .form-group .form-control {
  border: 0;
  box-shadow: 0 0 3px #c2c2c2;
  background: #f7f7f7;
}

.contain .rows .form .body .form-group .btn-primary {
  border: 0;
  font-weight: 800;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.contain .rows .form .body .form-group .btn-primary:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contain .rows .form .body .section {
  display: none;
}

.contain .rows .form .body .show {
  display: block;
}

.contain .rows .form .body .arrows .arrow {
  cursor: pointer;
}

.contain .rows .form .body .arrows .arrow i {
  background: #e7e7e7;
  box-shadow: 0 0 5px #80808085;
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  border-radius: 50px;
}

.contain .rows .left-side {
  height: 100%;
  font-family: "Righteous";
}

.contain .rows .left-side .header h1 {
  font-size: 2rem;
  color: white;
}

