@import url('https://fonts.googleapis.com/css?family=Philosopher|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    background-color: #f2f2f2;
    background-image: url("../img/bg.svg");
    background-attachment: fixed;
    /* min-width: min-content; */
    max-width: 100%;
}

/* navbar */
.navbar {
    background: #222B3A;
    color: white;
    font-family: 'Philosopher', sans-serif;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.navbar-brand {
    font-family: 'Righteous', cursive;
    display: flex;
    transition: 500ms ease;
    align-items: center;
}

.navbar .navbar-brand span {
    /* font-size: medium; */
    color: white;

}

.navbar-brand:hover {
    color: white;
    transform: translate(10px)
}

.navbar .nav-link {
    color: #DFDBE5;
}

.navbar .nav-link:hover {
    color: #DFDBE5;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    border: 0;
    box-shadow: 0 0 8px #8080809e;
    position: absolute !important;
}

.navbar-expand-md .navbar-nav .dropdown-men::after {
    content: "";
    position: absolute;
    top: -5%;
    left: 75%;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
}

.mains {
    display: flex;
    flex-direction: row;
    height: 90.5vh;
}

/* sidenav */
#navbarSupportedContent2 {
    transition: 500ms ease;
}

.nav {
    position: relative;
    flex-direction: column;
    max-width: max-content;
    width: max-content;
    background: white;
    /* max-height: 100%;
    min-height: 100vh; */
    height: 100%;
}

@media (max-width: 767px) {
    #navbarSupportedContent2 {
        transition: 500ms ease;
        z-index: 10;
    }

    .nav {
        position: absolute;
        height: max-content;
        box-shadow: 0 0 5px #80808075;
        border-radius: 4px;
    }
}

@media (min-width: 768px) {
    #navbarSupportedContent2 {
        display: block;
    }
}

.nav .nav-item {
    border: 0;
    margin-bottom: .5rem;
}

.nav .nav-item .nav-link {
    font-weight: 600;
    border: 0;
    padding: 3px 1rem;
    transition: 500ms ease;
    border-radius: 3px;
    color: #3f4253;
    clip-path: circle(100% at 10% 10%);
}

.dropdown-menu .dropdown-item {
    transition: 500ms ease;
    border-radius: 3px;
    color: #3f4253;
    clip-path: circle(100% at 10% 10%);
}

.nav .nav-item .nav-link:hover,
.nav .nav-item .dropdown-ul .li:hover,
.dropdown-menu .dropdown-item:hover {
    background: #222b3a36;
    color: #1c3053;
    clip-path: circle(75%);
}

.nav .nav-item .nav-link:hover i {
    color: rgb(75, 79, 85);
}

.dropdown-ul {
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
    margin-left: 2rem;
}

.nav .nav-item .dropdown-ul .li {
    padding: 3px;
    transition: 500ms ease;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    clip-path: circle(100% at 10% 10%);
}

.nav .nav-item .dropdown-ul .li a {
    padding: 5px;
    color: #222b3a
}

.nav .nav-item .dropdown-ul .li a:hover {
    color: #222b3a;
    text-decoration: none;
}

/* main content */
.main-content {
    width: 100%;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}

.content .header {
    border-bottom: 1px solid #222b3a1a;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .header .head {
    float: left;
    font-size: 35px;
}

.content .header .add {
    float: right;
}

.content .header .add a {
    color: #222B3A;
}

.content .main .not-yet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content .main .not-yet h3 {
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.57);
    border-radius: 3px;
    text-shadow: 0 0 12px #20191966;
    color: #191a22;
    position: absolute;
    top: 35%;
    left: 25px;
    text-align: center;
    padding: .6rem 3.5rem !important;
}

/* dashboard */
.dash {
    color: #222b3a;
}

.dash .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dash .head h3 {
    font-size: 35px;
    font-weight: 800;
}

.dash .overview .activity {
    flex-grow: 2;

}

.dash .overview .div-table {
    padding: 1rem;
    background: #fffffffa;
    transition: 500ms ease-in-out;
    margin: .3rem;
}

.dash .div-table:hover {
    box-shadow: 0 0 7px #cfcfcfba;
    transform: scale(1.02);
}

.dash .div-table .heading {
    font-size: 1.2rem;
    font-weight: 800;
}

.dash .div-table .body {
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
}

.dash .top-customer,
.dash .activity {
    padding: 2rem;
    background: white;
    box-shadow: 0 0 5px #c7c7c7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.dash .top-customer .heading,
.dash .activity .heading {
    font-size: 1.3rem;
    font-weight: 800;
}

.dash .top-customer .lists {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.dash .top-customer .lists .customer {
    display: flex;
    justify-content: space-between;
    padding: .3rem;
}

.dash .top-customer .lists .customer .orders {
    padding: 0.1rem 1rem;
    background: linear-gradient(135deg, #667eea 0%, #3F51B5 100%);
    color: white;
    border-radius: 50px;
    font-size: small;
}

/* table */
.search {
    padding-bottom: .5rem !important;
    display: flex;
    justify-content: flex-end
}

.search .grid {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.search .grid span {
    color: #222b3a;
    font-size: small;
}

.search .grid i {
    color: #3f4253;
    font-size: 25px;
    padding: .3rem;
    transition: 500ms ease;
    cursor: pointer;
}

.search .grid i:hover {
    transform: scale(.9);
}

.search .grid .active {
    color: #667eea;
}

.search label {
    top: 20%;
    left: 15px;
    margin: 0;
    text-shadow: none;
    color: #626262;
}

.search .search-input {
    border: 0;
    box-shadow: 0 0 10px #e1e1e1e3;
    padding-left: 40px;
}

table {
    background: white;
    border-radius: 5px;
    /* box-shadow: 0 0 5px #8080803b */
}

.table thead th {
    border-top: 0;
}

.table td {
    border: 0;
}

.table td a {
    color: #1c3053;
    text-decoration: none;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before,
.custom-control-input:checked~.custom-control-label::before {
    border-color: #667eea;
    background-color: #667eea;
    box-shadow: none;
}

.custom-control-label {
    cursor: pointer;
}

.custom-control-label::before {
    box-shadow: none;
    border: #8b8b8b solid 1px;
    border-radius: 10px !important;
}

.state {
    width: auto;
    height: auto;
    padding: .3rem 0.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fefefe;
    background-color: #81e986;
    border: none;
    border-radius: 1.25rem;
    font-size: smaller;
}

.deliverd,
.ongoing {
    height: fit-content;
    padding: 3px 10px;
    background: #3bff43;
    border-radius: 24px;
    color: white;
    font-size: smaller;
}

.ongoing {
    background: #653bff !important;
}

.canceled {
    background: #e91e63 !important;
}

.product,
.admin,
.customer,
.order {
    transition: 500ms ease;
    color: #474747;
}

.product:hover,
.admin:hover,
.customer:hover,
.order:hover {
    transform: scale(1.03);
    background: #667eea !important;
    box-shadow: 0 0 5px rgba(219, 219, 219, 0.842);
    color: #ffffff;
}

.product:hover label {
    color: rgb(248, 248, 248);
}

a:hover {
    text-decoration: none;
}

.product .title,
.admin .title,
.customer .title,
.order .title,
.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* forms */
.main .form {
    padding: 2rem 10px;
    background: #ffffff;
    border-radius: 4px;
    margin: 1rem 0;
}

.main .form .form-control {
    box-shadow: 0 0 5px #cacaca;
    border: 0;
}

.main .form .imgs {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../img/post-img.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    flex-direction: column;
}

.main .form .post-img .btn {
    cursor: pointer;
    border-radius: 50px;
    border: 0;
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    box-shadow: 0 0 7px #8ddad5;
}

.btn-primary {
    border: 0;
    color: white !important;
    background: linear-gradient(135deg, #667eea 0%, #3F51B5 100%);
    padding: 6px 12px;
    transition: 500ms ease;
    font-size: .9rem;
}

.btn-primary:hover {
    transform: scale(0.9);
}

.btn-edit {
    background: linear-gradient(135deg, #27e156 0%, #16991a 100%);
    margin-bottom: 5px;
}

.btn-dis {
    background: white;
    color: #1c3053 !important;
    cursor: pointer;
}

.btn-dis:hover {
    background: #222b3a36;
    color: #1c3053;
    box-shadow: 0 0 5px #2020209c;
}

.del-user {
    background: linear-gradient(45deg, #d84242, #aa1f1f);
}

.del-user:hover {
    box-shadow: 0 0 5px #da2d2d;
}

.edit-btn {
    background: linear-gradient(45deg, #66fc6c, #23cb2a);
    border: 0;
    transition: 500ms ease;
    padding: 8px 15px;
}

.edit-btn:hover {
    box-shadow: 0 0 5px #62f968;
}

label {
    outline: none;
    font-weight: 700;
    color: #474747;
}

input.amsify-suggestags-input {
    width: 90px !important;
}
