@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Philosopher|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');

body {
    background-color: #f2f2f2;
    background-image: url("../img/bg.svg");
    background-attachment: fixed;
    font-family: 'Raleway', cursive;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fe494c;
}

.loading span {
    font-family: 'Righteous', monospace;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: 700;
}

.looping-rhombuses-spinner,
.looping-rhombuses-spinner * {
    box-sizing: border-box;
}

.looping-rhombuses-spinner {
    width: calc(15px * 4);
    height: 15px;
    position: relative;
}

.looping-rhombuses-spinner .rhombus {
    height: 15px;
    width: 15px;
    background-color: white;
    left: calc(15px * 4);
    position: absolute;
    margin: 0 auto;
    border-radius: 2px;
    transform: translateY(0) rotate(45deg) scale(0);
    animation: looping-rhombuses-spinner-animation 2500ms linear infinite;
}

.looping-rhombuses-spinner .rhombus:nth-child(1) {
    animation-delay: calc(2500ms * 1 / -1.5);
}

.looping-rhombuses-spinner .rhombus:nth-child(2) {
    animation-delay: calc(2500ms * 2 / -1.5);
}

.looping-rhombuses-spinner .rhombus:nth-child(3) {
    animation-delay: calc(2500ms * 3 / -1.5);
}

@keyframes looping-rhombuses-spinner-animation {
    0% {
        transform: translateX(0) rotate(45deg) scale(0);
    }

    50% {
        transform: translateX(-233%) rotate(45deg) scale(1);
    }

    100% {
        transform: translateX(-466%) rotate(45deg) scale(0);
    }
}

/* navbar */
.navbar {
    font-family: 'Raleway', sans-serif;
    background: white;
    color: #222B3A;
    transition: 500ms linear;
}

.nav-top{
    transition: 500ms ease;
    width: 100%;
    position: fixed;
    /* z-index: 2; */
}
.carousel{
    max-height: 600px;
    overflow: hidden;
}
.carousel .top{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fe494ca6;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .top div{
    font-size: calc(3vw + 1rem);
}
.navbar-brand {
    display: flex;
    transition: 500ms ease;
    font-family: 'Righteous', cursive;
}

.navbar-brand:hover {
    color: #fe494c;
    transform: translate(10px)
}

li.nav-item {
    text-align: center;
    font-size: .9rem;
    margin: 0 .3rem;
    transition: 500ms ease;
    position: relative;
}

li.nav-item.cart {
    font-size: 1.1rem;
}

li.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5%;
    background: #fe494c;
    transition: 500ms ease;
}

.navbar .nav-item:hover::after {
    width: 100%;
}

.navbar .nav-item .nav-link {
    padding: 4px 8px;
}

.navbar .nav-item .nav-link .num {
    position: absolute;
    bottom: 5px;
    right: 0;
    background: #fe494c;
    color: white;
    font-size: 10px;
    padding: 1px 5px;
    border-radius: 15px;
}

.navbar .nav-item:hover .nav-link {
    color: #fe494c;
}

.navbar .navbar-nav {
    display: flex;
    flex-direction: row;
}

.searchModel .modal-content {
    border-radius: 11px;
    border: 0;
    box-shadow: 0 0 5px #f7f7f7;
}

.searchModel .modal-header {
    border: 0;
}

.searchModel .modal-header .form-inline i {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #6b6b6b;
}

.searchModel .modal-header .form-control {
    background: #e8e8e8;
    border: 0;
    border-radius: 10px;
    padding-left: 2rem;
    font-weight: 600;
}

.searchModel .modal-header .form-control:focus {
    box-shadow: none;
}

.searchModel .modal-header .btn {
    color: #6b6b6b;
    font-weight: 600;
    background: transparent;
    border: 0;
    box-shadow: none;
    border-radius: 10px;
    transition: 500ms ease;
}

.searchModel .modal-header .btn:hover {
    background: #fe494c;
    color: white;
    transform: scale(0.99);
    box-shadow: none;
}

/* cart page */
.cart-div .no-cart,
.not-found .no-found {
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 5px #e6e6e6;
    flex-direction: column;
    margin: auto;
}

.cart-div .text div,
.not-found .text div {
    color: #fe494c;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 600;
}

/* product  */
.product-div {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.product-div .product-img,
.product-div .product-info,
.product-div .product-reviews,
.product-div .product-similar {
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 5px #e6e6e6;
}

.product-div .product-img {
    flex-grow: 2;
    padding: .5rem;
}

.product-div .product-img img {
    max-height: 330px;
}

.product-div .product-info {
    flex-grow: 1;
    color: #222B3A;
}

.product-div .product-info .info .product-title {
    font-size: calc(1vw + 15px);
}

.product-div .product-info .info .product-price,
.product-div .product-reviews .heading {
    font-weight: 600;
    font-size: calc(1vw + 10px);
}

.product-div .product-info .info .product-des .header,
.product-div .product-info .info .product-type .header,
.product-div .product-info .info .product-tags .header,
.product-div .product-reviews .review .yours .total,
.product-div .product-similar .heading,
.product-div .product-reviews .review .others .div .left .name {
    font-weight: 700;
    font-size: calc(0vw + 15px);
    padding: 2px;
}

.product-div .product-info .info .product-tags .tag {
    font-size: small;
    background: #fe494c;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    margin: 3px;
    transition: 500ms ease;
}

.product-div .product-info .info .product-tags .tag:hover {
    transform: scale(1.09);
}

.product-div .product-info .info .product-tags .tag:hover a {
    color: white;
    text-decoration: none;
}

.product-div .product-info .info .add-to-cart .btn {
    padding: .5rem 2rem;
    background: white;
    border-color: #fe494c;
    color: #fe494c;
    border-radius: 50px;
    transition: 500ms ease;
}

.product-div .product-info .info .add-to-cart .btn:hover {
    background: #fe494c;
    color: white;
    transform: scale(0.95);
}

.product-div .product-reviews {
    flex-grow: 2;
}

.product-div .product-reviews .review .yours label {
    font-size: 2rem;
}

.product-div .product-reviews .review .yours label:checked {
    color: yellow;
}

.product-div .product-reviews .review .others .div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 500ms ease;
    padding: .5rem;
    margin: .3rem;
    border: 0
}

.product-div .product-reviews .review .others .div:hover {
    box-shadow: 0 0 5px #cccccc;
    background: #dadada;
    transform: scale(0.95);
}

.product-div .product-reviews .review .others .div .left .rate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.product-div .product-reviews .review .others .div .left .rate label {
    margin: 0;
    font-size: smaller;
}

.product-div .product-reviews .review .others .div .right span {
    font-size: smaller;
    font-weight: 600;
    padding: .5rem;
}

.product-div .product-reviews .review .others .text-center {
    color: rgb(88, 88, 88);
    font-size: smaller;
}

.product-div .product-similar {
    height: max-content;
}

.product-div .product-similar .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.product-div .product-similar .items li {
    margin: 2px;
    transition: 500ms ease;
}

.product-div .product-similar .items li:hover {
    transform: scale(1.02);
}

.product-div .product-similar .items li .price {
    font-size: smaller;
    padding: 4px;
}

/* colletion */
.collection-div .header {
    padding: 1rem;
    font-size: calc(1vw + 20px);
}

.our-collections .collections,
.collection-div .collections,
.recommend-div .recommended,
.rated-div .rateded,
.rated-div .rateded .top-rated,
.added-div .just-added {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.our-collections .collections .collection,
.collection-div .collections .collection,
.recommend-div .recommended .recommend,
.rated-div .rateded .rated,
.added-div .just-added .added {
    margin: .3rem;
    transition: 500ms ease;
    background: white;
    /* border-radius: 10px !important; */
}
.our-collections .collections .collection:hover,
.collection-div .collections .collection:hover,
.recommend-div .recommended .recommend:hover,
.rated-div .rateded .rated:hover,
.added-div .just-added .added:hover,
.user .main .body .orders .product:hover {
    transform: scale(1.05);
}

.collection-div .collections .collection .body {
    clip-path: circle(81% at 33% 0%);
    transition: 500ms ease;
}

.collection-div .collections .collection:hover .body {
    background: #fe494c;
    clip-path: circle(75%);
    color: white;
}

.collection-div .collections div .rate label {
    font-size: .8rem;
}

/* main home */
.our-collections .header,
.recommend-div .header,
.rated-div .header,
.added-div .header {
    font-size: calc(1vw + 10px);
}

.recommend-div .recommended .recommend {
    background: transparent !important;
    border-radius: 0 !important;
}

.recommend-div .recommended .recommend:hover .body {
    color: #fe494c;
}

.recommend-div .recommended .recommend .body .title,
.added-div .just-added .added .body .title,
.rated-div .rateded .top-rated .title,
.user .main .body .orders .title {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.added-div .just-added .added .body .new {
    border-radius: 50px;
    background: #fe494c;
    color: white;
    font-weight: 600;
    font-size: small;
    padding: 4px 12px;
    height: min-content;
}

/* profile */
.user .user-div {
    height: fit-content;
}

.user .user-div .setting .li {
    padding: 1rem;
    border-radius: 8px;
    transition: 500ms ease;
    clip-path: circle(100% at 10% 10%);
}

.user .user-div .setting .li:hover,
.user .user-div .setting .li.active {
    background: #fe494c;
    color: white;
    clip-path: circle(75%);
}

.user .user-div .setting .li:hover a {
    text-decoration: none;
    color: white;
}

.user .main .header {
    font-size: 1.5rem;
}

.user .main .body .orders {
    flex-wrap: wrap;
    justify-content: space-around;
}

.user .main .body .orders .product {
    transition: 500ms ease;
}

a i.fa-edit:hover {
    color: #fe494c;
    cursor: pointer;
}

.btn-primary {
    border: 0;
    color: #fe494c;
    background: transparent;
    border: 1px solid #fe494c;
    padding: 8px 15px;
    transition: 500ms ease;
    border-radius: 50px;
}

.btn-primary:hover {
    border: 1px solid #fe494c;
    box-shadow: none;
    background: #fe494c;
    transform: scale(0.9);
    color: white;
}

.btn-dis {
    background: white;
    color: #1c3053 !important;
    cursor: pointer;
    border: none;
}

.btn-dis:hover {
    border: none;
    background: #222b3a36;
    color: #1c3053;
    box-shadow: 0 0 5px #2020209c;
}
.deliverd,
.ongoing{
    height: fit-content;
    padding: 3px 10px;
    background: #3bff43;
    border-radius: 24px;
    color: white;
    font-size: smaller;
}
.ongoing{
    background: #653bff !important;
}
.canceled{
    background: #e91e63 !important;
}
/* footer */
footer {
    background: #fe494c;
    color: white;
}

footer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
